body {
	font-size: 30px;
	font-family: 'PT Sans', 'Helvetica Neue', sans-serif;
	background: rgb(202, 247, 86);
	color: rgb(68, 86, 32);
}
body.splash {
	background: rgb(178, 0, 73);
}
body.splash-grey {
	background: #55686A;
}
body.splash div.slide h1{
	color: white;
}
body.splash-grey div.slide h1{
	color: rgb(202, 247, 86);
}
body.splash-grey div.slide h2{
	color: white;
}
div.presentation, div.slide {
	background: transparent;
}
div.titleslide h1 {
	padding-top: 0;
	font-size: 3em;
}
div.slide h1, div.slide h2, div.slide h3, div.slide h4, div.slide h5, div.slide h6 {
	color: rgb(68, 86, 32);
}
div.slide h1{
	font-weight: bold;
	letter-spacing: -3px;
}
div.titleslide h3 {
	margin-top: 8em;
	padding: .1em 1em;
	background: white;
	box-shadow: 1px 1px 5px rgba(170, 85, 32, 0.5);
	display: inline-block;
	border: none;
}
img {
	display: inline;
	vertical-align: middle;
}
em {
	background-color: #6699CC;
	padding: .1em .5em;
	color: white;
	font-variant: small-caps;
	border-radius: .3em;
	font-size: .7em;
}
a {
	color: #336699;
	text-decoration: none;
}
strong {
	color: #336699;
	font-variant: small-caps;
	font-size: 1.2em;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
	background-color: white;
	box-shadow: 1px 1px 5px rgba(170, 85, 32, 0.5);
	padding: .2em .3em .1em .3em;
	line-height: 1.3em;
	margin: .1em 0;
	font-size: 1.3em;
	display: inline-block;
}
